#menu{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
    overflow: hidden;
}

main{
    float: right;
    margin: 30px;
    padding: 0px;

}
#logo img{
    width: 100px;
    height: 100px;
    float: right;
}
body{
    background-color: #f0f0f0;
}
/* mirate este codigo para incrustarlo en el tuyo
form{
    background-color: lightblue;
    line-height: 25px;
}
textarea, input{
    background-color: white;
    display: inline-block;
}
label{
    display: inline-block;
    width: 60px;
    
}
#enviar{
    background-color: white;
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 10px;
}
*\
